@import "tailwindcss";

:root {
  --background: #fafaf9;
  --foreground: #27272a;
  --brand: #9d174d; /* وردي عميق */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand: var(--brand);
}

body {
  background: var(--background);
  color: var(--foreground);
}
