@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 400;
  src: url(assets/517600a3.ttf) format('truetype');
}
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 600;
  src: url(assets/ca051bc6.ttf) format('truetype');
}
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 800;
  src: url(assets/19cf6d10.ttf) format('truetype');
}
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 900;
  src: url(assets/0ea2ec26.ttf) format('truetype');
}
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  src: url(assets/7762d8d1.ttf) format('truetype');
}
